.app {
  text-align: center;
}

.app__content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__input {
  width: 350px;
  padding: 10px 10px;
  margin-right: 20px;
}

.app__input:focus {
  box-shadow: 0 0 15px rgb(97, 218, 251);
}

.app__button {
  padding: 10px 40px;
  cursor: pointer;
}
